<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Care.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GenerateHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E2BC9121AFA0E0200A7F161</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2BC9271AFA0E0200A7F161</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8A32CE1B668FEE00E91945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8A32D81B668FEE00E91945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8A32FE1B66932600E91945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8A33081B66932600E91945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EBD223F1B86C0EA00076474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF09D251AEA37270031CFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF09D3A1AEA37270031CFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF09FDA1AEA3F8F0031CFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
